.person {
  display: flex;
  align-items: center;

  &--in-popup {
    align-items: flex-start;
  }

  &__img {
    width: 32px;
    max-width: 32px;
    height: 32px;
  }

  &__img--big {
    width: 54px;
    max-width: 54px;
    height: 54px;
  }

  &__name {
    max-width: 64px;
    padding-left: 8px;
    font-size: rem(12);
  }

  &__name--bold {
    max-width: 87px;
    padding-left: 16px;
    font-size: rem(14);
    font-weight: bold;
    color: $neutral-primary;
  }
}