
/*Global variables
------------------------------------------------*/

// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #333333;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 960px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$primary-color           : #EDF4F9;
$success-color           : #F6FDFA;
$warning-color           : #CCDFE3;

// Border Color
$border-base             : #C6C6C6;


/* MIXINS
-------------------------------------------------- */

@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


/* GLOBAL STYLES
-------------------------------------------------- */

html,
body {
	margin: 0;
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	font-style: normal;
	font-stretch: normal;
	line-height: $mainLineHeight;
	letter-spacing: normal;
	text-align: left;
	color: $mainFontColor;

	@media screen and (max-width: $desktopWidth) {
		font-size: 18px;
	}
	
	@media screen and (max-width: $smDesktopWidth) {
		font-size: 16px;
	}

	@media screen and (max-width: $tableWidth) {
		font-size: 15px;
	}

	@media screen and (max-width: $phoneWidth) {
		font-size: 14px;
	}
}

body { padding: rem(36) 0 }

h1, h2, p { margin: 0 }


/* GRID
---------------------------------------*/

.wrap {
	padding: rem(53) rem(20) rem(62) rem(40);
	max-width: 960px;
	margin: 0 auto;
	background-color: $primary-color;

	@media screen and (max-width: $tableWidth) {
		padding-right: rem(40);
	}
}

.grid {
	display: flex;
	justify-content: center;
	
	@media screen and (max-width: $tableWidth) {
		flex-direction: column;
		justify-content: flex-start;
	}
	
	// Main heading
	&__title {
		padding-bottom: rem(58);
		font-weight: bold;
		font-size: rem(20);
		text-transform: uppercase;
	}

	&__part:not(:last-child) {
		padding-right: rem(50);

		@media screen and (max-width: $tableWidth) {
			padding-right: 0;
		}
	}
}


/* ITEM
---------------------------------------*/

.item {
	border-bottom: 1px solid $border-base;
	
	&--active {
		background-color: $warning-color;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		padding-top: rem(24);
		padding-bottom: rem(20);
		cursor: pointer;
		transition: all .3s ease-in-out;
	}

	&__wrap:hover {
		background-color: $warning-color;
	}	

	&__quest {
		display: flex;
	}

	// Logo before question	
	&__logo {
		width: rem(21);
		height: rem(21);
		padding-right: rem(8);
		padding-left: rem(7);
	}

	&__descr { }

	// Arrow sign at right
	&__sign {
		width: rem(11);
		height: rem(6);
		padding-top: rem(8);
		padding-right: rem(15);
		padding-left: rem(10);
	}
	
	&__sign--rotate {
		transform: rotate(180deg);
		padding-top: 0;
		padding-bottom: rem(8);
		padding-right: rem(10);
		padding-left: rem(15);
	}

	// Normally hidden answer
	&__text {
		max-height: 0;
		padding: 0 rem(10);
		overflow: hidden;
		background-color: $success-color;
		transition: all .3s ease-in-out;
	}

	&__text--open {
		padding-top: rem(15);
		padding-bottom: rem(15);
	}
}