// Font
$mainFont                : 'Open Sans', Helvetica, Arial, sans-serif;
$secondFont              : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #232323;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1200px;
$smDesktopWidth          : 992px;
$tableWidth              : 767px;
$phoneWidth              : 576px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #FFFFFF;
$primary-color           : #556080;
$success-color           : #1EBEB4;
$danger-color            : #F16953;
$warning-color           : #FCC659;

// Background
$primary-bckgr           : #EAF9FF;
$default-bckgr           : #F7F7F7;
$success-bckgr           : #F6F6F6;
$dark-bckgr              : #393A3F;

// Neutral Color
$neutral-primary         : #000000;
$neutral-regular         : #2D2E2E;
$neutral-secondary       : #AEAEAE;
$neutral-placeholder     : #CACACA;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

// Transition
$default-transition      : all .3s cubic-bezier(0.25, 0.1, 0.25, 1);
